<ion-header>
  <ion-toolbar>
    <ion-title>
      Wifi List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
    <ion-card class="welcome-card" *ngFor="let wifi of wifilist">
      <ion-card-header>
        <ion-card-title>SSID: {{wifi.SSID}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>BSSID: </strong>{{wifi.BSSID}}</p>
        <p><strong>Frequency: </strong>{{wifi.frequency}}</p>
        <p><strong>Level: </strong>{{wifi.level}}</p>
        <p><strong>Timestamp: </strong>{{wifi.timestamp}}</p>
        <p><strong>Capabilities: </strong>{{wifi.capabilities}}</p>
      </ion-card-content>
    </ion-card>
</ion-content>
